flows.json
[{"id":"7dd3fa96.bdba84","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"821d278a.a37278","type":"ui_form","z":"7dd3fa96.bdba84","name":"","label":"","group":"1d9a4d54.4795c3","order":0,"width":0,"height":0,"options":[{"label":"Enter Name","value":"name","type":"text","required":true,"rows":null},{"label":"Enter Email","value":"email","type":"email","required":true,"rows":null},{"label":"Enter Password ","value":"password","type":"password","required":true,"rows":null}],"formValue":{"name":"","email":"","password":""},"payload":"","submit":"create","cancel":"cancel","topic":"","x":190,"y":160,"wires":[["78e50bcb.a010a4","b0b2e0d9.012d8"]]},{"id":"78e50bcb.a010a4","type":"debug","z":"7dd3fa96.bdba84","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":430,"y":80,"wires":[]},{"id":"b0b2e0d9.012d8","type":"function","z":"7dd3fa96.bdba84","name":"","func":"msg.payload={\n    _id:msg.payload.email,\n    Name:msg.payload.name,\n    Emailid:msg.payload.email,\n    password:msg.payload.password,\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":220,"wires":[["786a373a.f9f328"]]},{"id":"786a373a.f9f328","type":"cloudant out","z":"7dd3fa96.bdba84","name":"","cloudant":"","database":"sample","service":"node-red-ozbbb-2020--cloudant-1597404289261-34688","payonly":true,"operation":"insert","x":690,"y":220,"wires":[]},{"id":"8d88c318.28938","type":"ui_form","z":"7dd3fa96.bdba84","name":"","label":"","group":"8617a44b.3447a8","order":0,"width":0,"height":0,"options":[{"label":"Enter Email","value":"email","type":"email","required":true,"rows":null},{"label":"Enter password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"email":"","password":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":90,"y":340,"wires":[["8d195bd3.272228"]]},{"id":"8d195bd3.272228","type":"function","z":"7dd3fa96.bdba84","name":"","func":"\nglobal.set('emailid',msg.payload.email);\nglobal.set('password',msg.payload.password);\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":340,"wires":[["9aaad4e2.904fe8"]]},{"id":"9aaad4e2.904fe8","type":"function","z":"7dd3fa96.bdba84","name":"","func":"var emailid=global.get('emailid');\nmsg.payload=\"emailid:\"+emailid;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":340,"wires":[["e754034e.3272e"]]},{"id":"e754034e.3272e","type":"cloudant in","z":"7dd3fa96.bdba84","name":"","cloudant":"","database":"sample","service":"node-red-ozbbb-2020--cloudant-1597404289261-34688","search":"_idx_","design":"user","index":"user","x":560,"y":340,"wires":[["1e271336.b2329d"]]},{"id":"1e271336.b2329d","type":"function","z":"7dd3fa96.bdba84","name":"","func":" if(msg.payload[0].password===global.get('password')){\n    msg.payload='Login Succesfull';\n}\nelse{\n    msg.payload='Login Failed';\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":340,"wires":[["5fb668f6.e3b778"]]},{"id":"5fb668f6.e3b778","type":"debug","z":"7dd3fa96.bdba84","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":420,"wires":[]},{"id":"1d9a4d54.4795c3","type":"ui_group","z":"","name":"Registration_form","tab":"94777666.f019a8","order":1,"disp":true,"width":"6","collapse":false},{"id":"8617a44b.3447a8","type":"ui_group","z":"","name":"Login Page","tab":"2b4a8bb5.a50f74","order":1,"disp":true,"width":"6","collapse":false},{"id":"94777666.f019a8","type":"ui_tab","z":"","name":"Registration Page","icon":"dashboard","disabled":false,"hidden":false},{"id":"2b4a8bb5.a50f74","type":"ui_tab","z":"","name":"Login_page","icon":"dashboard","disabled":false,"hidden":false}]